<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/dashboard.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>Dashboard</h1>
        <p><%= firstName %></p>
      </nav>
    </header>
    <main>
      <section class="sidebar">
        <ul>
          <li>Dashboard</li>
          <li>Post</li>
          <li>Videos</li>
          <li>Gallery</li>
          <li>Settings</li>
        </ul>
      </section>
      <section class="main">
        <h2>content goes here</h2>
      </section>
    </main>
  </body>
</html>
