<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JWT TOKEN</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <section>
        <form action="/auth/login" method="POST">
          <h1>JWT API Implementation</h1>
          <div class="name">
            <div>
              <label for="firstName">First Name : </label>
              <input type="text" name="firstName" id="firstName" required />
            </div>
            <div>
              <label for="lastName">Last Name : </label>
              <input type="text" name="lastName" id="LastName" required />
            </div>
          </div>
          <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" required />
          </div>
          <div>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" required />
          </div>
          <button>Register</button>
          <p>
            Already have an account yet?
            <a href="/">Login here</a>
          </p>
        </form>
      </section>
    </main>

    <script src="index.js"></script>
  </body>
</html>
